<div class="containerinfo">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="heading">
      <h1>UNTIL.</h1>
      <h1>VICTORY.</h1>
      <h1>ALWAYS.</h1>
    </div>
    <div class="video-container">
      <iframe
        width="800"
        height="400"
        src="https://www.youtube.com/watch?v=2OJXCSwNh6U"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div><div class="sports">
  <app-sportscards></app-sportscards>
</div></div>
<div class="line"></div>
<div class="info">
  <app-about></app-about>
  <app-contact></app-contact>
</div>
