<section class="about-section">
  <div class="about-box">
    <h3>Title 1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies
      magna sed nunc varius, sit amet pulvinar risus feugiat.
    </p>
  </div>
  <div class="line"></div>
  <div class="about-box">
    <h3>Title 2</h3>
    <p>
      Nulla dapibus purus ut risus interdum, nec volutpat mi mattis. Sed quis
      est sed urna iaculis faucibus in eget mi.
    </p>
  </div>
  <div class="line"></div>

  <div class="about-box">
    <h3>Title 3</h3>
    <p>
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Phasellus efficitur felis vel dui auctor.
    </p>
  </div>
</section>
