<div class="image-grid">
  <div class="row">
    <div class="column">
      <a
        href="#"
        style="
          background-image: url('../../../assets/felix-mittermeier-nAjil1z3eLk-unsplash.jpg');
        "
      >
        <p>Chess</p>
      </a>
    </div>
    <div class="column">
      <a
        href="#"
        style="background-image: url('../../../assets/images\ \(6\).jpeg')"
      >
        <p>Aquatics</p>
      </a>
    </div>
    <div class="column">
      <a
        href="#"
        style="
          background-image: url('../../../assets/john-torcasio-oeGMaLjUOxQ-unsplash.jpg');
        "
      >
        <p>Hockey</p>
      </a>
    </div>
    <div class="column">
      <a
        href="#"
        style="background-image: url('../../../assets/images\ \(1\).jpeg')"
      >
        <p>Football</p>
      </a>
    </div>
    <div class="column">
      <a
        href="#"
        style="background-image: url('../../../assets/download\ \(1\).jpeg')"
      >
        <p>Athletics</p>
      </a>
    </div>
    <div class="column">
      <a
        href="#"
        style="background-image: url('../../../assets/images\ \(3\).jpeg')"
      >
        <p>Table Tennis</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <a
        href="#"
        style="
          background-image: url('../../../assets/felix-mittermeier-nAjil1z3eLk-unsplash.jpg');
        "
      >
        <p>Chess</p>
      </a>
    </div>
    <div class="column">
      <a
        href="#"
        style="background-image: url('../../../assets/images\ \(6\).jpeg')"
      >
        <p>Aquatics</p>
      </a>
    </div>
    <div class="column">
      <a
        href="#"
        style="
          background-image: url('../../../assets/john-torcasio-oeGMaLjUOxQ-unsplash.jpg');
        "
      >
        <p>Hockey</p>
      </a>
    </div>
    <div class="column">
      <a
        href="#"
        style="background-image: url('../../../assets/images\ \(1\).jpeg')"
      >
        <p>Football</p>
      </a>
    </div>
    <div class="column">
      <a
        href="#"
        style="background-image: url('../../../assets/download\ \(1\).jpeg')"
      >
        <p>Athletics</p>
      </a>
    </div>
    <div class="column">
      <a
        href="#"
        style="background-image: url('../../../assets/images\ \(3\).jpeg')"
      >
        <p>Table Tennis</p>
      </a>
    </div>
  </div>
</div>
